@font-face {
   font-family: Yongasabi;
   src: url(fonts/YongasabiBlock.ttf);
}

@font-face {
   font-family: Beech;
   src: url(fonts/beech.ttf);
}

@font-face {
   font-family: bstrd;
   src: url(fonts/NewspaperCutoutWhiteOnBlac-Rg.ttf);
}

.yongfont {
   font-family: Yongasabi;
}

.beechfont {
   font-family: Beech;
}

body {
   background-image: url(img/background.png);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}

* {
   color: grey;
   text-align: center;
   font-family: Beech;
}

.bstrdfont {
   font-family: bstrd;
   color: #FF0066;
   font-size: 3em; 
   line-height: 1em;
}
.contacttextarea {
   resize: none;
   border-radius: 10px;
   text-align: left;
   padding: 7px;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
}
.coolbutton {
   border-radius: 10px;
   color: black;
   height: 40px;
   width: 120px;
   font-size: 18px;
}