@import url('https://www.dafont.com/beech.font');
@import url('https://drive.google.com/file/d/1RgxfbI2Ywa6rtx-RawGkG9lfL9zB1GWl/view');

.yongfont {
   font-family: yongasabi block; 
}
.beechfont {
   font-family: beech;
}
.font {
   color: grey;
}
body {
   background-image: url(img/background.png);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}